<div *ngFor="let user of users" >
    <div>
      <label>Name: </label> {{user.name}}
    </div>
    <div>
      <label>Username: </label> {{user.username}}
    </div>
    <div>
      <label>Email: </label> {{user.email}}
    </div>
    <span class="button is-small btn-danger" >Add</span>
</div>
   
