﻿<!-- nav -->

<nav class="navbar navbar-expand navbar-dark " *ngIf="user" id="navbar">
    <div class="navbar-nav col-sm-12" >
        <div class="navbar-brand col-sm-1">
        <!-- <li class="navbar-item" > -->
        <img class="img-responsive" src="assets/images/logo7.png">
        <!-- </li> -->
        </div>
       <div class="row offset-6"> 
        <a class="nav-item nav-link" routerLink="/" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}">Home</a>
        <a class="nav-item nav-link" routerLink="/translate" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}">Translate</a>
        <a class="nav-item nav-link" routerLink="/users" routerLinkActive="active">Users</a>      
        <a class="nav-item nav-link" (click)="logout()">Logout</a>
        </div>
    </div>
    
</nav>

<!-- main app container -->
<div class="container" [ngClass]="{ 'bg-light': user }">
    <alert></alert>
    <router-outlet></router-outlet>
</div>

