html{
    background: url(../assets/images/background.jpg);
}
a{
    color: black;
    font-size: 1rem;
    height: 40px;
    margin-top: 25px;
}

#navbar{
   background-color:rgb(127, 148, 172);
   margin-bottom: 25px;
   height: 80px;
   text-align: center;
}
.navbar-brand img{

 height: 4rem;
}

.nav-item {
    font-size: 1rem;

}