<div class="card">
    <h4 class="card-header">Translate</h4>
    <div class="card-body">
        <form>
            <div>
                <label for="codeLangueSource">Language source : </label>
                <input type="text" [(ngModel)]="codeLangueSource" name="source">
                <!-- <select [(ngModel)]="codeLangueSource" name="source">
                        <option *ngFor="let l of translates2">{{l.word.code}}</option>
                    </select>  -->
                    <div class="espace">

                    </div>
                <div>
                    <label for="source">Word to translate : </label>
                    <input type="text" [(ngModel)]="source" name="cible">
                </div>
            </div>
            <div class="espace">

            </div>
            <div>
                <input type="button" class="btn btn-primary" style="background-color: rgb(127, 148, 172);" value="Translate" (click)="getWords()" /> <br />
                <p></p>
                <p *ngFor="let l of translates">{{l.code}} : {{l.word}}</p>
            </div>
        </form>
    </div>
</div>