﻿<div class="p-4">
    <div class="container">
        <h4>Hi {{user.username}}!</h4>

        <p>Welcome to Langue Donnant-Donnant!!</p>
        <p><a routerLink="/myprofil">My profil</a></p>
        <mdb-carousel class="carousel slide carousel-fade" [animation]="'fade'">
            <mdb-carousel-item>
              <img class="d-block w-100" src="https://s3.amazonaws.com/marstranslation.aws.bucket/default/0001/72/46be85d6f63f07ecb211be7b9891ab960adac0e3.jpeg" alt="First slide">
            </mdb-carousel-item>
            
          </mdb-carousel>
    </div>
</div>